<div class="min-h-screen min-w-full bg-slate-200 dark:bg-slate-800">
   
    <div class="grid grid-cols-2 " >        
        <div class="bg-rose-800 dark:bg-lime-200">
            <p  class="text-cyan-600 text-4xl p-3">Lorem Ipsum Doller Set Amit</p>
            <p class="text-slate-900 text-2xl p-2">
                Feeling the weight of hand hygiene compliance? Semmel takes the burden off your shoulders, from managing
                observers to automated reporting.
                Reduce stress, protect patients, and achieve compliance the smarter way. Schedule a free demo today!
            </p>
            <br>
            
        </div>
        <div class="bg-pink-900 ">
            <p-card  >
                <ng-template #header>
                    <img src="https://picsum.photos/id/13/900/600/" alt="tree">
                </ng-template>
                <ng-template #title> Book A Semmel Hand Hygiene Demo No </ng-template>

                
                <ng-template #footer>
                    <div class="flex gap-4 mt-1">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                            numquam deserunt
                            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                            quas!
                        </p>
                    </div>
                </ng-template>
            </p-card>


        </div>
    </div>
</div>

